In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [90]:
df = pd.read_csv('Mall_Customers.csv')

In [91]:
print("First 5 Records:\n", df.head())
print("\nDataset Shape:", df.shape)
print("\nDataset Info:")
df.info()

First 5 Records:
    CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

Dataset Shape: (200, 5)

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

The dataset contains records of 200 customers in a mall having 5 attributes: 
CustomerID, Genre, Age, Annual Income (k$), Spending Score (1-100)
Fron df.info and df.head we conclude *only Grade feature is categorical* (text) and rest is numeric.
- **CustomerID**: Unique ID of customer
- **Genre**: Gender of customer
- **Age**: Age of customer
- **Age Annual Income (k$)**: Annual income of customer represented in *x* 1000 dollars
- **Spending Score (1-100)**: Spending Score of customer

In [94]:
df.columns = ["CustomerID", "Gender", "Age", "Annual_Income", "Spending_Score"]

In [95]:
print("\nNumerical Summary:")
print(df.describe())

Numerical Summary:
       CustomerID         Age  Annual_Income  Spending_Score
count  200.000000  200.000000     200.000000      200.000000
mean   100.500000   38.850000      60.560000       50.200000
std     57.879185   13.969007      26.264721       25.823522
min      1.000000   18.000000      15.000000        1.000000
25%     50.750000   28.750000      41.500000       34.750000
50%    100.500000   36.000000      61.500000       50.000000
75%    150.250000   49.000000      78.000000       73.000000
max    200.000000   70.000000     137.000000       99.000000

In [96]:
numerical_cols = ["Age", "Annual_Income", "Spending_Score"]
central_tendency = pd.DataFrame({
    "Mean": df[numerical_cols].mean(),
    "Median": df[numerical_cols].median(),
    "Mode": df[numerical_cols].mode().iloc[0]
})
print("\nCentral Tendency:\n", central_tendency)

Central Tendency:
                  Mean  Median  Mode
Age             38.85    36.0  32.0
Annual_Income   60.56    61.5  54.0
Spending_Score  50.20    50.0  42.0

In [97]:
dispersion = pd.DataFrame({
    "Range": df[numerical_cols].max() - df[numerical_cols].min(),
    "Variance": df[numerical_cols].var(),
    "Std Deviation": df[numerical_cols].std(),
    "IQR": df[numerical_cols].quantile(0.75) - df[numerical_cols].quantile(0.25)
})

print("\nDispersion Measures:\n", dispersion)

Dispersion Measures:
                 Range    Variance  Std Deviation    IQR
Age                52  195.133166      13.969007  20.25
Annual_Income     122  689.835578      26.264721  36.50
Spending_Score     98  666.854271      25.823522  38.25

In [98]:
print("\nSkewness:")
print(df[numerical_cols].skew())

Skewness:
Age               0.485569
Annual_Income     0.321843
Spending_Score   -0.047220
dtype: float64

In [103]:
gender_freq = df["Gender"].value_counts()
gender_percent = df["Gender"].value_counts(normalize=True) * 100

print("\nGender Frequency:\n", gender_freq)
print("\nGender Percentage Distribution:\n", gender_percent)

Gender Frequency:
 Gender
Female    112
Male       88
Name: count, dtype: int64

Gender Percentage Distribution:
 Gender
Female    56.0
Male      44.0
Name: proportion, dtype: float64